# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec
*.zip
build_exe.py
assets/*.webp

# Testing
tests/
.pytest_cache/

# Local configuration
config.json
*backup*.json

# Logs
*.log

# Environments
.env
.venv
env/
venv/

# VS Code / IDE
.vscode/
.idea/

# Internal dev guidelines
.agents/
